# git ignore file
/Source/Packages/
/Backup/
/OpenTK.GLControl.dll
/OpenTK.GLControl.xml
/OpenTK.pdb
/FarseerDuality.pdb
/Microsoft.Web.XmlTransform.dll
/EditorUserData.xml
/PopupControl.dll
/PopupControl.pdb
/DualityUpdater.exe
/DualityPrimitives.pdb
/WeifenLuo.WinFormsUI.Docking.dll
/WeifenLuo.WinFormsUI.Docking.pdb
/logfile.txt
/logfile_editor.txt
/logfile_editor_prev.txt
/perflog.txt
/Aga.Controls.dll
/Aga.Controls.pdb
/Duality.pdb
/Duality.xml
/AdamsLair.WinForms.pdb
/AdamsLair.WinForms.xml
/perflog_editor.txt
/DDoc.chm
/DesignTimeData.dat
/DualityEditor.pdb
/DualityEditor.xml
/DualityLauncher.exe
/DualityLauncher.exe.config
/DualityLauncher.pdb
/DualityPrimitives.XML
/AdamsLair.WinForms.dll
/Source/Code/EditorPlugin/bin/
/Source/Code/EditorPlugin/obj/
/Source/Code/EditorPlugin/GamePlugin.core.xml
/Source/Code/ProjectPlugins.v12.suo
/Source/Code/Pathfindax.Duality/bin/
/Source/Code/Pathfindax.Duality/obj/
/Source/Code/Pathfindax.Duality/Pathfindax.Duality.core.xml
/Source/Code/Pathfindax.Duality.Tilemaps/bin/
/Source/Code/Pathfindax.Duality.Tilemaps/obj/
/Source/Code/Pathfindax.Duality.Tilemaps/Pathfindax.Duality.Tilemaps.core.xml
/Source/Code/Pathfindax/obj
/Source/Code/Pathfindax/bin
/Source/Code/Pathfindax/Pathfindax.core.xml
/Source/Code/Pathfindax.Test/obj
/Source/Code/Pathfindax.Test/bin
/Source/Code/ProjectPlugins.sln
/Source/Code/CorePlugin
/Source/Code/.vs
/Plugins/CamView.editor.dll
/Plugins/Compatibility.core.dll
/Plugins/DefaultOpenTKBackend.core.dll
/Plugins/DefaultOpenTKBackend.editor.dll
/Plugins/DotNetFrameworkBackend.core.dll
/Plugins/EditorBase.editor.dll
/Plugins/HelpAdvisor.editor.dll
/Plugins/LogView.editor.dll
/Plugins/ObjectInspector.editor.dll
/Plugins/OpenALSoft32.dll
/Plugins/OpenALSoft64.dll
/Plugins/PackageManagerFrontend.editor.dll
/Plugins/Pathfindax.dll
/Plugins/Pathfindax.Duality.core.dll
/Plugins/Pathfindax.Duality.Tilemaps.dll
/Plugins/ProjectView.editor.dll
/Plugins/SceneView.editor.dll
/Plugins/Pathfindax.pdb
/Plugins/ProjectView.editor.pdb
/Plugins/SceneView.editor.pdb
/Plugins/Tilemaps.core.pdb
/Plugins/Tilemaps.editor.pdb
/Plugins/GamePlugin.core.xml
/Plugins/Pathfindax.core.xml
/Plugins/Pathfindax.Duality.xml
/Plugins/Pathfindax.Duality.Tilemaps.xml
/Plugins/Tilemaps.core.xml
/Plugins/Tilemaps.editor.xml
/Plugins/Tilemaps.editor.dll
/Plugins/CamView.editor.pdb
/Plugins/Compatibility.core.pdb
/Plugins/DefaultOpenTKBackend.core.pdb
/Plugins/DefaultOpenTKBackend.editor.pdb
/Plugins/DotNetFrameworkBackend.core.pdb
/Plugins/EditorBase.editor.pdb
/Plugins/HelpAdvisor.editor.pdb
/Plugins/LogView.editor.pdb
/Plugins/ObjectInspector.editor.pdb
/Plugins/PackageManagerFrontend.editor.pdb
/Plugins/Pathfindax.Duality.core.pdb
/Plugins/Pathfindax.Duality.Tilemaps.pdb
/Source/Code/Binaries
/Source/Code/Binaries/Debug/Pathfindax.Duality.xml
/Source/Code/Binaries/Debug/Pathfindax.Duality.Tilemaps.xml
/Source/Code/Pathfindax.Duality/Pathfindax.Duality.xml
/Source/Code/Pathfindax.Duality.Tilemaps/Pathfindax.Duality.Tilemaps.xml
/Plugins/Pathfindax.Duality.core.xml
/Source/Code/Pathfindax.sln.DotSettings.user
/Plugins/Pathfindax.Duality.Tilemaps.core.xml
/Plugins/Pathfindax.Duality.Tilemaps.core.dll
/Plugins/Pathfindax.Duality.Tilemaps.core.pdb
/Source/Code/Pathfindax.Duality.Tilemaps.Test/obj
/Source/Code/Pathfindax.Duality.Test/obj
/Plugins/Pathfindax.Duality.Test.Core.pdb
/Plugins/Pathfindax.Duality.Tilemaps.Test.Core.pdb
/Plugins/Pathfindax.Duality.Tilemaps.Test.pdb
/Plugins/Pathfindax.Duality.Tilemaps.Test.Core.dll
/Plugins/Pathfindax.Duality.Test.pdb
/Plugins/Pathfindax.Duality.Test.Core.dll
/Source/Code/EditorPlugin
/Source/Code/Pathfindax.Duality.Examples/obj
/Source/Code/Pathfindax.Duality.Tilemaps.Examples/obj
/Plugins/Pathfindax.Duality.Tilemaps.Examples.Core.dll
/Plugins/Pathfindax.Duality.Examples.Core.dll
/Plugins/Pathfindax.Duality.Tilemaps.Examples.Core.pdb
/Plugins/Pathfindax.Duality.Examples.Core.pdb
