# git ignore file
/Source/Packages/
/Backup/
/Plugins/*
/Plugins/GamePlugin.core.dll
/Plugins/GamePlugin.core.pdb
/Plugins/GamePlugin.core.xml
/Plugins/EditorPlugin.editor.dll
/Plugins/EditorPlugin.editor.pdb
/Plugins/EditorPlugin.editor.xml
/NVorbis.dll
/OpenTK.GLControl.dll
/OpenTK.GLControl.xml
/OpenTK.dll
/OpenTK.dll.config
/OpenTK.pdb
/OpenTK.xml
/FarseerDuality.xml
/FarseerDuality.pdb
/Microsoft.Web.XmlTransform.dll
/NVorbis.XML
/FarseerDuality.dll
/EditorUserData.xml
/PopupControl.dll
/PopupControl.pdb
/DualityUpdater.exe
/DualityPrimitives.pdb
/WeifenLuo.WinFormsUI.Docking.dll
/WeifenLuo.WinFormsUI.Docking.pdb
/logfile.txt
/logfile_editor.txt
/logfile_editor_prev.txt
/perflog.txt
/Aga.Controls.dll
/Aga.Controls.pdb
/Duality.pdb
/Duality.xml
/AdamsLair.WinForms.pdb
/AdamsLair.WinForms.xml
/perflog_editor.txt
/DDoc.chm
/DesignTimeData.dat
/DualityEditor.pdb
/DualityEditor.xml
/DualityLauncher.exe
/DualityLauncher.exe.config
/DualityLauncher.pdb
/DualityPrimitives.XML
/AdamsLair.WinForms.dll
/Source/Code/EditorPlugin/bin/
/Source/Code/EditorPlugin/obj/
/Source/Code/EditorPlugin/GamePlugin.core.xml
/Source/Code/ProjectPlugins.v12.suo
/Source/Code/Pathfindax.Duality/bin/
/Source/Code/Pathfindax.Duality/obj/
/Source/Code/Pathfindax.Duality/Pathfindax.Duality.core.xml
/Source/Code/Pathfindax.Duality.Tilemaps/bin/
/Source/Code/Pathfindax.Duality.Tilemaps/obj/
/Source/Code/Pathfindax.Duality.Tilemaps/Pathfindax.Duality.Tilemaps.core.xml
/Source/Code/Pathfindax/obj
/Source/Code/Pathfindax/bin
/Source/Code/Pathfindax/Pathfindax.core.xml
/Source/Code/Pathfindax.Test/obj
/Source/Code/Pathfindax.Test/bin
/Source/Code/ProjectPlugins.sln
/Source/Code/CorePlugin
/Source/Code/.vs
